@model ET.Rol

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <div class="panel">
            <div class="panel-heading">
                <hgroup class="title title-list">
                    <h2>Editar Rol</h2>
                </hgroup>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)



                    @Html.HiddenFor(model => model.RoleId)
                    @Html.HiddenFor(model => model.Modulo_Id)
                    @Html.HiddenFor(model => model.Create_User)
                    @Html.HiddenFor(model => model.Create_Date)
                    @Html.HiddenFor(model => model.Active)


                    <div class="col-md-6">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.RoleName)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.RoleName)
                            @Html.ValidationMessageFor(model => model.RoleName)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.AccesoTotal)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.AccesoTotal)
                            @Html.ValidationMessageFor(model => model.AccesoTotal)
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-6">
                                <br />
                                @Html.ActionLink("Cancelar", "Index", new { id = Model.Modulo_Id }, new { @class = "form-control btn-info", @style = "text-align:center" })
                            </div>
                            <div class="col-md-3">
                                <br />
                                <input type="submit" value="Guardar" class="form-control btn-success" />
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessage("error")
                }
            </div>
        </div>
    </div>
</div>